/target
/dist
node_modules
.DS_Store
*.log
.env
.env.local
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src-tauri/target
*.pkg.tar.zst
*.pkg.tar.xz
*.pkg.tar.gz
pkg/
src/
guiman/
